@use 'variables'


*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background-color: variables.$body-bg-color
  

.reading-pic
  max-width: 720px
  min-height: 100vh
  float: right
  
.container
  margin-top: 50px
  margin-left: 30px 
  position: absolute
  .logo
    max-width: 389px
    margin-bottom: 92px
  .title
    font-family: 'Work Sans'
    font-size: 26px
    color: variables.$title-color
    font-weight: 700
    margin-bottom: 8px
  .mid
    font-family: 'League Spartan'
    font-size: 19px
    color: variables.$text-color
    font-weight: 700
    margin-bottom: 9px
  .bottom
    font-family: 'League Spartan'
    font-size: 20px
    color: variables.$form-color
    font-weight: 300
    margin-bottom: 50px

.text-box
  max-width: 70%
    
label
  font-family: 'League Spartan'
  font-size: 19px
  color: variables.$form-color
  font-weight: 700
  

.input-box input
  min-width: 83%
  height: 48px
  margin-top: 17px

.input-box input::placeholder
  font-family: 'Work Sans'
  padding-left: 10px
  font-weight: 400

.green-bar
  width: 5px
  height: 48px
  background-color: variables.$title-color
  position: absolute
  


  
  