* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  text-decoration: none;
}

body {
  padding: 2.5em;
  margin: 0 auto;
  background-color: #22212C;
  color: #837E9F;
  display: flex;
  gap: 60px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #302F3D;
  border-radius: 1em;
  margin-bottom: 1.9em;
  max-width: 348px;
}
.sidebar .profile-photo {
  border-radius: 50%;
  border: 3px solid #6554aa;
  margin: 24px 0px 15px 0px;
  width: 140px;
}
.sidebar .profile-dev {
  margin: 4px auto;
  font-weight: 700;
}
.sidebar .profile-stack {
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 34px;
}
.sidebar .social-media {
  background-color: #302F3D;
  border-radius: 1em;
  margin-bottom: 1.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 348px;
  padding: 30px 0px 10px 40px;
}
.sidebar .social-media .social-name {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.sidebar .social-media .social-name a {
  margin-left: 15px;
  color: #837E9F;
}
.sidebar .social-media .social-name a:hover {
  text-decoration: underline;
}
.sidebar .social-media .social-name .img-link {
  cursor: pointer;
}

.technologies {
  background-color: #302F3D;
  border-radius: 1em;
  margin-bottom: 1.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 348px;
  padding: 30px 20px;
}
.technologies-h1 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.technologies-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 15px;
}
.technologies .tech {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CB92B1;
  color: #000000;
  border-radius: 30px;
  width: 86px;
  height: 24px;
  font-size: 0.8em;
}

.education {
  background-color: #302F3D;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 348px;
  padding: 30px 20px;
}
.education-h1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.education-list {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  gap: 20px;
}

.projects, .post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  background-color: #302F3D;
  margin-bottom: 31px;
}
.projects-title, .post-title {
  font-size: 20px;
  font-weight: bold;
}
.projects-link, .post-link {
  color: #837E9F;
}
.projects-link:hover, .post-link:hover {
  text-decoration: underline;
  color: #6554aa;
}

.card-gallery {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.card {
  background-color: #302F3D;
  border-radius: 1em;
  padding: 25px 30px 30px 25px;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 22px;
}
.card-title {
  color: #837E9F;
}
.card-title:hover {
  text-decoration: underline;
  color: #6554aa;
}
.card-details {
  max-width: 100%;
  margin-bottom: 22px;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-footer .card-footer-img {
  display: flex;
  gap: 15px;
}
.card-footer .footer-techs {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card-footer .footer-techs .ball-orange {
  width: 15px;
  height: 15px;
  background: #FF7A00;
  border-radius: 50%;
  border: 2px solid #837E9F;
}
.card-footer .footer-techs .ball-blue {
  width: 15px;
  height: 15px;
  background: #2A3CDC;
  border-radius: 50%;
  border: 2px solid #837E9F;
}

.post-card {
  background-color: #302F3D;
  border-radius: 1em;
  padding: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.post-card .post-photo {
  border-radius: 50%;
  width: 128px;
}
.post-card .post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.post-card .post-time {
  font-size: 14px;
  margin-bottom: 20px;
}
.post-card .post-description {
  font-size: 1em;
  margin-bottom: 11px;
}
.post-card .post-tags {
  font-size: 14px;
}

@media screen and (max-width: 1100px) {
  body {
    gap: 40px;
  }
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .card-gallery {
    display: flex;
    flex-direction: column;
  }
  .post-photo {
    display: none;
  }
}
@media screen and (max-width: 670px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .content {
    max-width: 348px;
  }
  .projects::before {
    content: "";
    width: 300px;
    height: 2px;
    background-color: #302F3D;
    position: absolute;
    top: 1030px;
    left: 63px;
  }
}/*# sourceMappingURL=style.css.map */